---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <article class="theme summary clearfix">
    <aside class="thumbnail">
      <a href="{{ post.url }}">
        <img src="{{ post.thumbnail }}">
      </a>
    </aside>
    <section class="content">
      <header>
        <h1 class="post-title">
          <a href="{{ post.url }}">
            {{ post.title }}
          </a>
        </h1>
        <span class="post-date">{{ post.date | date_to_string }}</span>
      </header>
      <span class="author"><i class="fa fa-user"></i> <a href="{{post.author_url}}">{{post.author}}</a></span>
      <span class="tags"><i class="fa fa-tag"></i> {{ post.tags | join: ', ' }}</span>
      <span class="install-command"><i class="fa fa-terminal"></i> <code>apm install {{ post.package_name }}</code></span>
    </section>
  </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
