article.theme.summary aside.thumbnail {
  width: 40%;
  float: right;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

article.theme.summary .content {
  width: 60%;
  padding-right: 1rem;
}

article.theme.summary .content span {
  display: block;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
