<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}" href="/">Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}

    <a class="sidebar-nav-item" href="https://github.com/atom-themes/atom-themes.github.io/blob/master/CONTRIBUTING.md">Submit a Theme</a>
    <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub</a>
  </nav>

  <div class="sidebar-item">
    <p>
      <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="/public/images/cc-glyphs.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">atomthem.es</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
    </p>

    <p>Please feel free to join us in our IRC, Internet Relay Chat, channel at chat.freenode.net #atomthemes.
    </p>
  </div>

  <div class="sidebar-item">
    <p>Made with ♥ by <a href="https://github.com/rpowelll">@rpowelll</a> & <a href="https://github.com/fusion94">@fusion94</a></p>
  </div>
</div>
