---
layout: default
---

<article class="theme">
  <section class="thumbnail">
    <img src="{{page.thumbnail}}">
  </section>
  <header>
    <h1>
      <a href="{{page.package_url}}">{{page.title}}</a>
        by
      <a href="{{page.author_url}}">{{page.author}}</a>
    </h1>
  </header>
  <section class="content">
    {{ content }}

    <h2>Install</h2>

    <code>$ apm install {{ page.package_name }}</code>
  </section>
  <footer>
    <span class="tags">{{ page.tags | array_to_sentence_string }}</span>
  </footer>
</article>

<div class="related">
  <h2>Related Themes</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
